 body {
   background-color: grey;
   color: grey;
   font-size: 24px;
   position: fixed;
   margin-left: -100px;
   margin-top: -100px;
   top: 15%;
   left: 50%;
 }

#todo {
  display: inline-block;
  background-color: black;
}

#uusi-tehtava {
  border-radius: 5%;
  background-color: white;
}

#tehtavat {
  display: inline-block;
  background-color: red;
}

#tehdytTehtavat {
  display: inline-block;
  background-color: green;
}

#adbut {
  font-size: 12px;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 10%;
  background-color: green;
  color: white;
  cursor: pointer;
}
