body {
  background-color: darkgrey;
}

.napit {
  background-color: darkblue;
  color: yellow;
  padding: 12px;
  text-align: center;
  display: inline-block;
  font-size: 36px;
  cursor: pointer;
  border-radius: 15%;
}

.nappi {
  display: inline-block;
  background-color: black;
  width: 153px;
  height: 278px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
